<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         bootstrap="vendor/autoload.php"
        >
    <testsuites>
        <testsuite name="adrenth/thetvdb2 Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <php>
        <const name="API_KEY" value="" />
        <const name="API_USERNAME" value="" />
        <const name="API_USER_KEY" value="" />
    </php>
</phpunit>
